@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* global variables */
:root {
  --clr-primary: #334155;
  --clr-delete: #fa3f5e;
  --clr-success: #10b981;
  --clr-progress: #3b82f6;
  --clr-logo: #2563eb;
  --clr-hover-light: #8576ff;
  --clr-hover-dark: #fcf7ff;
  --clr-email-primary-light: #64748b;

  --bg-border-light: #f1f5f9;
  --bg-hover-dark: #8576ff;
  --bg-hover-light: #fcf7ff;
  --bg-logo: #93c5fd;
  --bg-carousel: #e2e8f0;
  --bg-success: #d1fae5;
  --bg-progress: #dbeafe;
  --bg-primary-light: #ffffff;
  --bg-primary-dark: #383544;
  --bg-secondary-light: #fcf7ff;
  --bg-secondary-dark: #484554;
  --bg-accent: #8576ff;
}

/* css reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: var(--clr-primary);
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  background-color: var(--bg-primary-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  /* border: 2px solid blue; */
}

li {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* sidebar */
.sidebar {
  background-color: var(--bg-primary-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  padding: 0.5rem;
  border-inline-end: 1px solid var(--bg-border-light);
  transition: width 300ms ease;

  &.sidebar.collapsed {
    padding: 1rem;
    top: 20px;
    left: 20px;
    width: 4rem;
  }

  /* logo section */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-logo);
    border: 1px dashed var(--clr-logo);
    width: 4rem;
    height: 2rem;
    margin-block: 1rem;

    .logo-text {
      font-size: 12px;
      color: var(--clr-logo);
    }
  }

  /* nav section*/
  &.sidebar ul li a {
    /* background-color: red; */
    height: 2.25rem;
    margin-block-start: 0.5rem;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      background-color: var(--bg-secondary-light);
      border-radius: 2px;
      padding: 0.5rem;
      color: var(--clr-hover-light);
      outline: none;
    }

    &:hover svg path,
    &:focus svg path,
    &:hover span,
    &:focus span {
      color: var(--clr-hover-light);
      stroke: var(--clr-hover-light);
    }
  }

  &.sidebar ul li a img {
    width: 32px;
    height: 32px;
    margin-inline-start: 0;
    margin-inline-end: 0.5rem;
  }

  &.sidebar .expanded-icon {
    width: 20px;
    height: 20px;
    margin-inline-start: 0;
    margin-inline-end: 0.5rem;
  }
  &.sidebar .collapse-icon {
    width: 28px;
    height: 28px;
    margin-inline-start: 0;
    margin-inline-end: 0.5rem;
  }

  &.sidebar ul li a svg {
    margin-inline-start: 0;
    margin-inline-end: 0.5rem;
  }

  &.sidebar ul li a span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &:hover {
      color: var(--clr-hover-light);
    }
  }

  &.sidebar .notification-badge {
    /* display: block; */
    font-size: 12px;
    font-weight: 400;
    width: 24px;
    height: 24px;
    padding: 0.25rem 0.5rem;
    border-radius: 100%;
    margin-inline-start: 5rem;
    color: var(--bg-primary-light);
    background-color: var(--clr-delete);
  }
}

/* user info */

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  &.user-info .user-email {
    color: var(--clr-email-primary-light);
  }
}

/* collapsed */

.sidebar .collapsed .nav-item .nav-text {
  display: none;
}

.collapsed-icon {
  display: none;
}

.sidebar.collapsed .expanded-icon {
  display: inline-block;
}

.sidebar.collapsed .collapsed-icon {
  display: none;
}
